*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.sublime-project
*.sublime-workspace

npm-debug.log
node_modules
tmp/

.buildpath
.settings
coverage
.nyc_output
lib/
